.container__movie-card-one {
    background-color: #141414;

    color: white;

    display: flex;
    justify-content: center;

    .movie-card {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: 90px;

        .movie-card-top-info {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .movie-card-stars {
                
                    display: flex;
                    justify-content: center;
                    align-items: center;
                
            }

        }

        .movie-card-bottom-info {
            p {
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
            }
        }
        
    }
}