.container__header {

    display: flex;
    align-items: center;
    justify-content: space-around;

    font-family: 'Roboto', sans-serif;
    color: #daa520;

    padding: 50px;

    .header-search {

        display: flex;
        align-items: center;

        input {
            margin-right: 10px;
            border-radius: 20px;
            border: none;
            padding: 10px;
        }

        .header-search-icon {
            

            button {
                background-color:  #141414;
                border: none;
                cursor: pointer;
            }
        }
    }
}