<div class="container__movie-component">

    @for (movie of movies; track movie.id) {
        <a class="movie-link" [routerLink]="['/movie', movie.id]">
            <div class="movie-card">
                <div class="movie-poster"><img [src]="getFullImageUrl(movie.poster_path)" alt=""></div>
                <div class="movie-title"><h2>{{movie.title}}</h2></div>
                <div class="movie-info">
                    <div class="movie-rating"><span [innerHTML]="starSvg"></span>  {{ movie.vote_average.toFixed(1) }} </div> 
                    <div class="movie-date">
                        {{movie.release_date}}
                    </div>
                </div>
            </div>
        </a>
    }
</div>