<div class="container__form">
    @if(islogin == true) {
    <div class="form-left">
        <div class="form-title">
            <h2>LOGIN</h2>
        </div>
        <form action="/movies" method="post">
          <app-form-input inputName="Name:" inputType="text"/>
          <app-form-input inputName="E-mail:" inputType="email"/>
          <app-form-input inputName="Password:" inputType="password"/>
          <app-form-input inputName="Submit" inputType="submit"/>
        </form>
        <div class="form-links">
            <button (click)="isLogin(islogin)">Register</button>
        </div>
    </div>
    } @else {
        <div class="form-left">
            <div class="form-title">
                <h2>Register</h2>
            </div>
            <form action="/movies" method="post">
              <app-form-input inputName="E-mail:" inputType="email"></app-form-input>
              <app-form-input inputName="Password:" inputType="password"></app-form-input>
              <app-form-input inputName="Submit" inputType="submit"></app-form-input>
            </form>
            <div class="form-links">
                <button (click)="isLogin(islogin)">Login</button>
            </div>
        </div>
    }
    <div class="form-right">
        <img src="assets/images/Movie-Night-cuate.svg" alt="">
    </div>
</div>